<% layout('layouts/boilerplate')%>


    <div class="row">
        <!-- offset-3 will move the div to the middle, because there are 12 units in a row -->
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <p>
                    <%= err.stack %>
                </p>
            </div>

        </div>
    </div>